name: Category Average Builder

on:
  schedule:
    - cron: '0 19 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          node scripts/buildCategoryAvg.js
      - run: |
          git add .
          git commit -m "Update category averages" || true
          git push
